In [1]:
import pandas as pd
import nltk

train = pd.read_csv('Train.csv')
print (train.shape)
print (train.head())

(103, 4)
             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
4     SALTER JR  01/03/68  F  WILLIAM

In [3]:
df1 = train.groupby([train.ln,train.fn,train.dob,train.gn]).head(1)
print (df1.head())

             ln       dob gn       fn
0      SMITH JR  01/03/68  F  WILLIAM
1  ROTHMEYER JR  01/03/68  F  WILLIAM
2       ASBY JR  01/03/68  F  WILLIAM
3     SALTER JR  01/03/68  F  WILLIAM
5      BLAND JR  21/02/62  F  WILLIAM

In [5]:
from nltk.tokenize import word_tokenize
l = []
for w1 in df1.ln:
    l.append(word_tokenize(w1))
df1["surname_total"] = l
print(df1)

                ln       dob gn            fn     surname_total  \
0         SMITH JR  01/03/68  F       WILLIAM       [SMITH, JR]
1     ROTHMEYER JR  01/03/68  F       WILLIAM   [ROTHMEYER, JR]
2          ASBY JR  01/03/68  F       WILLIAM        [ASBY, JR]
3        SALTER JR  01/03/68  F       WILLIAM      [SALTER, JR]
5         BLAND JR  21/02/62  F       WILLIAM       [BLAND, JR]
8       SHAFFER JR  21/02/62  F       WILLIAM     [SHAFFER, JR]
10       BLAND III  21/02/62  F       WILLIAM      [BLAND, III]
11        BLAND JR  21/02/62  F          BILL       [BLAND, JR]
12           BLAND  21/02/62  F       WILLIAM           [BLAND]
14        BLAND JR  08/06/54  F       WILLIAM       [BLAND, JR]
16        BLAND JR  25/10/53  F       WILLIAM       [BLAND, JR]
18      SHAFFER JR  25/10/53  F       WILLIAM     [SHAFFER, JR]
19       DUNCAN JR  25/10/53  F        THOMAS      [DUNCAN, JR]
20      CARLSON JR  25/10/53  F           ROY     [CARLSON, JR]
21      CARLSON JR  25/10/53  F           RON     [CARLSON, JR]
22       DUNCAN JR  25/10/53  F           ROY      [DUNCAN, JR]
23      MICHAELSON  25/10/53  M           ROY      [MICHAELSON]
24   MICHAELSON JR  25/10/53  M           ROY  [MICHAELSON, JR]
27   MICHAELSON JR  01/05/51  M           ROY  [MICHAELSON, JR]
28   MICHAELSON JR  17/06/48  M           ROY  [MICHAELSON, JR]
30   MICHAELSON JR  09/04/47  M           ROY  [MICHAELSON, JR]
31   MICHAELSON JR  09/04/47  M        ROBERT  [MICHAELSON, JR]
32   MICHAELSON JR  09/04/47  M           BOB  [MICHAELSON, JR]
33     MUSTAPHA JR  11/03/47  M          OWEN    [MUSTAPHA, JR]
34     MUSTAPHA JR  11/03/47  M          OWAN    [MUSTAPHA, JR]
35     HOUGHTON JR  31/01/46  M      LAWRENCE    [HOUGHTON, JR]
38         LIND JR  31/01/46  M      LAWRENCE        [LIND, JR]
40         LIND JR  31/01/46  M       KENNETH        [LIND, JR]
42         LIND JR  20/01/46  M          JOHN        [LIND, JR]
43         CAIN JR  20/01/46  M          JOHN        [CAIN, JR]
..             ...       ... ..           ...               ...
46           CLARK  09/02/45  M        DONALD           [CLARK]
47           CLARK  16/12/44  M          JOHN           [CLARK]
48        CLARK JR  16/12/44  M          JOHN       [CLARK, JR]
50   MICHAELSON JR  16/12/44  M          JOHN  [MICHAELSON, JR]
53   MICHAELSON JR  24/04/40  M          JOHN  [MICHAELSON, JR]
55   MICHAELSON JR  24/06/39  M          JOHN  [MICHAELSON, JR]
58   MICHAELSON JR  24/06/39  M         JAMES  [MICHAELSON, JR]
60   MICHAELSON JR  24/06/39  M          JACK  [MICHAELSON, JR]
61   MICHAELSON JR  09/06/39  M          JACK  [MICHAELSON, JR]
62       LARSON JR  09/06/39  M        HAROLD      [LARSON, JR]
64     MUSTAPHA JR  07/10/37  M        HAROLD    [MUSTAPHA, JR]
65     HOUGHTON JR  07/10/37  M        HAROLD    [HOUGHTON, JR]
66       MELVIN JR  07/10/37  M        HAROLD      [MELVIN, JR]
75       CHAVAS JR  07/10/37  M        HAROLD      [CHAVAS, JR]
79   MICHAELSON JR  07/10/37  M        HAROLD  [MICHAELSON, JR]
81        SMITH JR  07/10/37  M        HAROLD       [SMITH, JR]
84        FAGEN JR  07/10/37  M        HAROLD       [FAGEN, JR]
86        FAGEN JR  07/10/37  M        GEORGE       [FAGEN, JR]
87      GRIFFIN JR  07/10/37  M          DARH     [GRIFFIN, JR]
88      GRIFFIN JR  10/07/37  M          DARL     [GRIFFIN, JR]
89      GRIFFIN JR  07/05/37  M          DARL     [GRIFFIN, JR]
90      GRIFFIN JR  07/05/37  M      CLIFFORD     [GRIFFIN, JR]
93      GRIFFIN JR  07/05/37  M      CLARENCE     [GRIFFIN, JR]
94           HANNA  24/11/34  M     ADDISON J           [HANNA]
95           HANNA  24/11/34  M  ADDISON JOHN           [HANNA]
96           HANNA  24/11/34  M       ADDISON           [HANNA]
99     GALETICH JR  15/10/32  M       ADDISON    [GALETICH, JR]
100   FUNARO JONES  06/12/37  F       HARRIET   [FUNARO, JONES]
101       FUNARO J  06/12/37  F       HARRIET       [FUNARO, J]
102         FUNARO  06/12/37  F       HARRIET          [FUNARO]

    surname_original
0              SMITH
1          ROTHMEYER
2               ASBY
3             SALTER
5              BLAND
8            SHAFFER
10             BLAND
11             BLAND
12             BLAND
14             BLAND
16             BLAND
18           SHAFFER
19            DUNCAN
20           CARLSON
21           CARLSON
22            DUNCAN
23        MICHAELSON
24        MICHAELSON
27        MICHAELSON
28        MICHAELSON
30        MICHAELSON
31        MICHAELSON
32        MICHAELSON
33          MUSTAPHA
34          MUSTAPHA
35          HOUGHTON
38              LIND
40              LIND
42              LIND
43              CAIN
..               ...
46             CLARK
47             CLARK
48             CLARK
50        MICHAELSON
53        MICHAELSON
55        MICHAELSON
58        MICHAELSON
60        MICHAELSON
61        MICHAELSON
62            LARSON
64          MUSTAPHA
65          HOUGHTON
66            MELVIN
75            CHAVAS
79        MICHAELSON
81             SMITH
84             FAGEN
86             FAGEN
87           GRIFFIN
88           GRIFFIN
89           GRIFFIN
90           GRIFFIN
93           GRIFFIN
94             HANNA
95             HANNA
96             HANNA
99          GALETICH
100           FUNARO
101           FUNARO
102           FUNARO

[62 rows x 6 columns]

c:\users\tishant\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [6]:
l2 = []
for i in l:
    l2.append(max(i,key=len))
df1["surname_original"] = l2
print(df1)

                ln       dob gn            fn     surname_total  \
0         SMITH JR  01/03/68  F       WILLIAM       [SMITH, JR]
1     ROTHMEYER JR  01/03/68  F       WILLIAM   [ROTHMEYER, JR]
2          ASBY JR  01/03/68  F       WILLIAM        [ASBY, JR]
3        SALTER JR  01/03/68  F       WILLIAM      [SALTER, JR]
5         BLAND JR  21/02/62  F       WILLIAM       [BLAND, JR]
8       SHAFFER JR  21/02/62  F       WILLIAM     [SHAFFER, JR]
10       BLAND III  21/02/62  F       WILLIAM      [BLAND, III]
11        BLAND JR  21/02/62  F          BILL       [BLAND, JR]
12           BLAND  21/02/62  F       WILLIAM           [BLAND]
14        BLAND JR  08/06/54  F       WILLIAM       [BLAND, JR]
16        BLAND JR  25/10/53  F       WILLIAM       [BLAND, JR]
18      SHAFFER JR  25/10/53  F       WILLIAM     [SHAFFER, JR]
19       DUNCAN JR  25/10/53  F        THOMAS      [DUNCAN, JR]
20      CARLSON JR  25/10/53  F           ROY     [CARLSON, JR]
21      CARLSON JR  25/10/53  F           RON     [CARLSON, JR]
22       DUNCAN JR  25/10/53  F           ROY      [DUNCAN, JR]
23      MICHAELSON  25/10/53  M           ROY      [MICHAELSON]
24   MICHAELSON JR  25/10/53  M           ROY  [MICHAELSON, JR]
27   MICHAELSON JR  01/05/51  M           ROY  [MICHAELSON, JR]
28   MICHAELSON JR  17/06/48  M           ROY  [MICHAELSON, JR]
30   MICHAELSON JR  09/04/47  M           ROY  [MICHAELSON, JR]
31   MICHAELSON JR  09/04/47  M        ROBERT  [MICHAELSON, JR]
32   MICHAELSON JR  09/04/47  M           BOB  [MICHAELSON, JR]
33     MUSTAPHA JR  11/03/47  M          OWEN    [MUSTAPHA, JR]
34     MUSTAPHA JR  11/03/47  M          OWAN    [MUSTAPHA, JR]
35     HOUGHTON JR  31/01/46  M      LAWRENCE    [HOUGHTON, JR]
38         LIND JR  31/01/46  M      LAWRENCE        [LIND, JR]
40         LIND JR  31/01/46  M       KENNETH        [LIND, JR]
42         LIND JR  20/01/46  M          JOHN        [LIND, JR]
43         CAIN JR  20/01/46  M          JOHN        [CAIN, JR]
..             ...       ... ..           ...               ...
46           CLARK  09/02/45  M        DONALD           [CLARK]
47           CLARK  16/12/44  M          JOHN           [CLARK]
48        CLARK JR  16/12/44  M          JOHN       [CLARK, JR]
50   MICHAELSON JR  16/12/44  M          JOHN  [MICHAELSON, JR]
53   MICHAELSON JR  24/04/40  M          JOHN  [MICHAELSON, JR]
55   MICHAELSON JR  24/06/39  M          JOHN  [MICHAELSON, JR]
58   MICHAELSON JR  24/06/39  M         JAMES  [MICHAELSON, JR]
60   MICHAELSON JR  24/06/39  M          JACK  [MICHAELSON, JR]
61   MICHAELSON JR  09/06/39  M          JACK  [MICHAELSON, JR]
62       LARSON JR  09/06/39  M        HAROLD      [LARSON, JR]
64     MUSTAPHA JR  07/10/37  M        HAROLD    [MUSTAPHA, JR]
65     HOUGHTON JR  07/10/37  M        HAROLD    [HOUGHTON, JR]
66       MELVIN JR  07/10/37  M        HAROLD      [MELVIN, JR]
75       CHAVAS JR  07/10/37  M        HAROLD      [CHAVAS, JR]
79   MICHAELSON JR  07/10/37  M        HAROLD  [MICHAELSON, JR]
81        SMITH JR  07/10/37  M        HAROLD       [SMITH, JR]
84        FAGEN JR  07/10/37  M        HAROLD       [FAGEN, JR]
86        FAGEN JR  07/10/37  M        GEORGE       [FAGEN, JR]
87      GRIFFIN JR  07/10/37  M          DARH     [GRIFFIN, JR]
88      GRIFFIN JR  10/07/37  M          DARL     [GRIFFIN, JR]
89      GRIFFIN JR  07/05/37  M          DARL     [GRIFFIN, JR]
90      GRIFFIN JR  07/05/37  M      CLIFFORD     [GRIFFIN, JR]
93      GRIFFIN JR  07/05/37  M      CLARENCE     [GRIFFIN, JR]
94           HANNA  24/11/34  M     ADDISON J           [HANNA]
95           HANNA  24/11/34  M  ADDISON JOHN           [HANNA]
96           HANNA  24/11/34  M       ADDISON           [HANNA]
99     GALETICH JR  15/10/32  M       ADDISON    [GALETICH, JR]
100   FUNARO JONES  06/12/37  F       HARRIET   [FUNARO, JONES]
101       FUNARO J  06/12/37  F       HARRIET       [FUNARO, J]
102         FUNARO  06/12/37  F       HARRIET          [FUNARO]

    surname_original
0              SMITH
1          ROTHMEYER
2               ASBY
3             SALTER
5              BLAND
8            SHAFFER
10             BLAND
11             BLAND
12             BLAND
14             BLAND
16             BLAND
18           SHAFFER
19            DUNCAN
20           CARLSON
21           CARLSON
22            DUNCAN
23        MICHAELSON
24        MICHAELSON
27        MICHAELSON
28        MICHAELSON
30        MICHAELSON
31        MICHAELSON
32        MICHAELSON
33          MUSTAPHA
34          MUSTAPHA
35          HOUGHTON
38              LIND
40              LIND
42              LIND
43              CAIN
..               ...
46             CLARK
47             CLARK
48             CLARK
50        MICHAELSON
53        MICHAELSON
55        MICHAELSON
58        MICHAELSON
60        MICHAELSON
61        MICHAELSON
62            LARSON
64          MUSTAPHA
65          HOUGHTON
66            MELVIN
75            CHAVAS
79        MICHAELSON
81             SMITH
84             FAGEN
86             FAGEN
87           GRIFFIN
88           GRIFFIN
89           GRIFFIN
90           GRIFFIN
93           GRIFFIN
94             HANNA
95             HANNA
96             HANNA
99          GALETICH
100           FUNARO
101           FUNARO
102           FUNARO

[62 rows x 6 columns]

c:\users\tishant\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [7]:
l3 = []
l4 = []
for j in df1.fn:
    l3.append(word_tokenize(j))
for k in l3:
    l4.append(max(k,key = len))
df1["fn_original"] = l4
print(df1)

                ln       dob gn            fn     surname_total  \
0         SMITH JR  01/03/68  F       WILLIAM       [SMITH, JR]
1     ROTHMEYER JR  01/03/68  F       WILLIAM   [ROTHMEYER, JR]
2          ASBY JR  01/03/68  F       WILLIAM        [ASBY, JR]
3        SALTER JR  01/03/68  F       WILLIAM      [SALTER, JR]
5         BLAND JR  21/02/62  F       WILLIAM       [BLAND, JR]
8       SHAFFER JR  21/02/62  F       WILLIAM     [SHAFFER, JR]
10       BLAND III  21/02/62  F       WILLIAM      [BLAND, III]
11        BLAND JR  21/02/62  F          BILL       [BLAND, JR]
12           BLAND  21/02/62  F       WILLIAM           [BLAND]
14        BLAND JR  08/06/54  F       WILLIAM       [BLAND, JR]
16        BLAND JR  25/10/53  F       WILLIAM       [BLAND, JR]
18      SHAFFER JR  25/10/53  F       WILLIAM     [SHAFFER, JR]
19       DUNCAN JR  25/10/53  F        THOMAS      [DUNCAN, JR]
20      CARLSON JR  25/10/53  F           ROY     [CARLSON, JR]
21      CARLSON JR  25/10/53  F           RON     [CARLSON, JR]
22       DUNCAN JR  25/10/53  F           ROY      [DUNCAN, JR]
23      MICHAELSON  25/10/53  M           ROY      [MICHAELSON]
24   MICHAELSON JR  25/10/53  M           ROY  [MICHAELSON, JR]
27   MICHAELSON JR  01/05/51  M           ROY  [MICHAELSON, JR]
28   MICHAELSON JR  17/06/48  M           ROY  [MICHAELSON, JR]
30   MICHAELSON JR  09/04/47  M           ROY  [MICHAELSON, JR]
31   MICHAELSON JR  09/04/47  M        ROBERT  [MICHAELSON, JR]
32   MICHAELSON JR  09/04/47  M           BOB  [MICHAELSON, JR]
33     MUSTAPHA JR  11/03/47  M          OWEN    [MUSTAPHA, JR]
34     MUSTAPHA JR  11/03/47  M          OWAN    [MUSTAPHA, JR]
35     HOUGHTON JR  31/01/46  M      LAWRENCE    [HOUGHTON, JR]
38         LIND JR  31/01/46  M      LAWRENCE        [LIND, JR]
40         LIND JR  31/01/46  M       KENNETH        [LIND, JR]
42         LIND JR  20/01/46  M          JOHN        [LIND, JR]
43         CAIN JR  20/01/46  M          JOHN        [CAIN, JR]
..             ...       ... ..           ...               ...
46           CLARK  09/02/45  M        DONALD           [CLARK]
47           CLARK  16/12/44  M          JOHN           [CLARK]
48        CLARK JR  16/12/44  M          JOHN       [CLARK, JR]
50   MICHAELSON JR  16/12/44  M          JOHN  [MICHAELSON, JR]
53   MICHAELSON JR  24/04/40  M          JOHN  [MICHAELSON, JR]
55   MICHAELSON JR  24/06/39  M          JOHN  [MICHAELSON, JR]
58   MICHAELSON JR  24/06/39  M         JAMES  [MICHAELSON, JR]
60   MICHAELSON JR  24/06/39  M          JACK  [MICHAELSON, JR]
61   MICHAELSON JR  09/06/39  M          JACK  [MICHAELSON, JR]
62       LARSON JR  09/06/39  M        HAROLD      [LARSON, JR]
64     MUSTAPHA JR  07/10/37  M        HAROLD    [MUSTAPHA, JR]
65     HOUGHTON JR  07/10/37  M        HAROLD    [HOUGHTON, JR]
66       MELVIN JR  07/10/37  M        HAROLD      [MELVIN, JR]
75       CHAVAS JR  07/10/37  M        HAROLD      [CHAVAS, JR]
79   MICHAELSON JR  07/10/37  M        HAROLD  [MICHAELSON, JR]
81        SMITH JR  07/10/37  M        HAROLD       [SMITH, JR]
84        FAGEN JR  07/10/37  M        HAROLD       [FAGEN, JR]
86        FAGEN JR  07/10/37  M        GEORGE       [FAGEN, JR]
87      GRIFFIN JR  07/10/37  M          DARH     [GRIFFIN, JR]
88      GRIFFIN JR  10/07/37  M          DARL     [GRIFFIN, JR]
89      GRIFFIN JR  07/05/37  M          DARL     [GRIFFIN, JR]
90      GRIFFIN JR  07/05/37  M      CLIFFORD     [GRIFFIN, JR]
93      GRIFFIN JR  07/05/37  M      CLARENCE     [GRIFFIN, JR]
94           HANNA  24/11/34  M     ADDISON J           [HANNA]
95           HANNA  24/11/34  M  ADDISON JOHN           [HANNA]
96           HANNA  24/11/34  M       ADDISON           [HANNA]
99     GALETICH JR  15/10/32  M       ADDISON    [GALETICH, JR]
100   FUNARO JONES  06/12/37  F       HARRIET   [FUNARO, JONES]
101       FUNARO J  06/12/37  F       HARRIET       [FUNARO, J]
102         FUNARO  06/12/37  F       HARRIET          [FUNARO]

    surname_original fn_original
0              SMITH     WILLIAM
1          ROTHMEYER     WILLIAM
2               ASBY     WILLIAM
3             SALTER     WILLIAM
5              BLAND     WILLIAM
8            SHAFFER     WILLIAM
10             BLAND     WILLIAM
11             BLAND        BILL
12             BLAND     WILLIAM
14             BLAND     WILLIAM
16             BLAND     WILLIAM
18           SHAFFER     WILLIAM
19            DUNCAN      THOMAS
20           CARLSON         ROY
21           CARLSON         RON
22            DUNCAN         ROY
23        MICHAELSON         ROY
24        MICHAELSON         ROY
27        MICHAELSON         ROY
28        MICHAELSON         ROY
30        MICHAELSON         ROY
31        MICHAELSON      ROBERT
32        MICHAELSON         BOB
33          MUSTAPHA        OWEN
34          MUSTAPHA        OWAN
35          HOUGHTON    LAWRENCE
38              LIND    LAWRENCE
40              LIND     KENNETH
42              LIND        JOHN
43              CAIN        JOHN
..               ...         ...
46             CLARK      DONALD
47             CLARK        JOHN
48             CLARK        JOHN
50        MICHAELSON        JOHN
53        MICHAELSON        JOHN
55        MICHAELSON        JOHN
58        MICHAELSON       JAMES
60        MICHAELSON        JACK
61        MICHAELSON        JACK
62            LARSON      HAROLD
64          MUSTAPHA      HAROLD
65          HOUGHTON      HAROLD
66            MELVIN      HAROLD
75            CHAVAS      HAROLD
79        MICHAELSON      HAROLD
81             SMITH      HAROLD
84             FAGEN      HAROLD
86             FAGEN      GEORGE
87           GRIFFIN        DARH
88           GRIFFIN        DARL
89           GRIFFIN        DARL
90           GRIFFIN    CLIFFORD
93           GRIFFIN    CLARENCE
94             HANNA     ADDISON
95             HANNA     ADDISON
96             HANNA     ADDISON
99          GALETICH     ADDISON
100           FUNARO     HARRIET
101           FUNARO     HARRIET
102           FUNARO     HARRIET

[62 rows x 7 columns]

c:\users\tishant\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [8]:
df2 = df1.groupby(["surname_original","fn_original","gn","dob"]).head(1)
#df2.drop(["ln"], axis = 1,inplace = True)
print(df2,df2.shape)

                ln       dob gn         fn     surname_total surname_original  \
0         SMITH JR  01/03/68  F    WILLIAM       [SMITH, JR]            SMITH
1     ROTHMEYER JR  01/03/68  F    WILLIAM   [ROTHMEYER, JR]        ROTHMEYER
2          ASBY JR  01/03/68  F    WILLIAM        [ASBY, JR]             ASBY
3        SALTER JR  01/03/68  F    WILLIAM      [SALTER, JR]           SALTER
5         BLAND JR  21/02/62  F    WILLIAM       [BLAND, JR]            BLAND
8       SHAFFER JR  21/02/62  F    WILLIAM     [SHAFFER, JR]          SHAFFER
11        BLAND JR  21/02/62  F       BILL       [BLAND, JR]            BLAND
14        BLAND JR  08/06/54  F    WILLIAM       [BLAND, JR]            BLAND
16        BLAND JR  25/10/53  F    WILLIAM       [BLAND, JR]            BLAND
18      SHAFFER JR  25/10/53  F    WILLIAM     [SHAFFER, JR]          SHAFFER
19       DUNCAN JR  25/10/53  F     THOMAS      [DUNCAN, JR]           DUNCAN
20      CARLSON JR  25/10/53  F        ROY     [CARLSON, JR]          CARLSON
21      CARLSON JR  25/10/53  F        RON     [CARLSON, JR]          CARLSON
22       DUNCAN JR  25/10/53  F        ROY      [DUNCAN, JR]           DUNCAN
23      MICHAELSON  25/10/53  M        ROY      [MICHAELSON]       MICHAELSON
27   MICHAELSON JR  01/05/51  M        ROY  [MICHAELSON, JR]       MICHAELSON
28   MICHAELSON JR  17/06/48  M        ROY  [MICHAELSON, JR]       MICHAELSON
30   MICHAELSON JR  09/04/47  M        ROY  [MICHAELSON, JR]       MICHAELSON
31   MICHAELSON JR  09/04/47  M     ROBERT  [MICHAELSON, JR]       MICHAELSON
32   MICHAELSON JR  09/04/47  M        BOB  [MICHAELSON, JR]       MICHAELSON
33     MUSTAPHA JR  11/03/47  M       OWEN    [MUSTAPHA, JR]         MUSTAPHA
34     MUSTAPHA JR  11/03/47  M       OWAN    [MUSTAPHA, JR]         MUSTAPHA
35     HOUGHTON JR  31/01/46  M   LAWRENCE    [HOUGHTON, JR]         HOUGHTON
38         LIND JR  31/01/46  M   LAWRENCE        [LIND, JR]             LIND
40         LIND JR  31/01/46  M    KENNETH        [LIND, JR]             LIND
42         LIND JR  20/01/46  M       JOHN        [LIND, JR]             LIND
43         CAIN JR  20/01/46  M       JOHN        [CAIN, JR]             CAIN
44           CLARK  09/06/45  M       JOHN           [CLARK]            CLARK
45           CLARK  09/02/45  M     RONALD           [CLARK]            CLARK
46           CLARK  09/02/45  M     DONALD           [CLARK]            CLARK
47           CLARK  16/12/44  M       JOHN           [CLARK]            CLARK
50   MICHAELSON JR  16/12/44  M       JOHN  [MICHAELSON, JR]       MICHAELSON
53   MICHAELSON JR  24/04/40  M       JOHN  [MICHAELSON, JR]       MICHAELSON
55   MICHAELSON JR  24/06/39  M       JOHN  [MICHAELSON, JR]       MICHAELSON
58   MICHAELSON JR  24/06/39  M      JAMES  [MICHAELSON, JR]       MICHAELSON
60   MICHAELSON JR  24/06/39  M       JACK  [MICHAELSON, JR]       MICHAELSON
61   MICHAELSON JR  09/06/39  M       JACK  [MICHAELSON, JR]       MICHAELSON
62       LARSON JR  09/06/39  M     HAROLD      [LARSON, JR]           LARSON
64     MUSTAPHA JR  07/10/37  M     HAROLD    [MUSTAPHA, JR]         MUSTAPHA
65     HOUGHTON JR  07/10/37  M     HAROLD    [HOUGHTON, JR]         HOUGHTON
66       MELVIN JR  07/10/37  M     HAROLD      [MELVIN, JR]           MELVIN
75       CHAVAS JR  07/10/37  M     HAROLD      [CHAVAS, JR]           CHAVAS
79   MICHAELSON JR  07/10/37  M     HAROLD  [MICHAELSON, JR]       MICHAELSON
81        SMITH JR  07/10/37  M     HAROLD       [SMITH, JR]            SMITH
84        FAGEN JR  07/10/37  M     HAROLD       [FAGEN, JR]            FAGEN
86        FAGEN JR  07/10/37  M     GEORGE       [FAGEN, JR]            FAGEN
87      GRIFFIN JR  07/10/37  M       DARH     [GRIFFIN, JR]          GRIFFIN
88      GRIFFIN JR  10/07/37  M       DARL     [GRIFFIN, JR]          GRIFFIN
89      GRIFFIN JR  07/05/37  M       DARL     [GRIFFIN, JR]          GRIFFIN
90      GRIFFIN JR  07/05/37  M   CLIFFORD     [GRIFFIN, JR]          GRIFFIN
93      GRIFFIN JR  07/05/37  M   CLARENCE     [GRIFFIN, JR]          GRIFFIN
94           HANNA  24/11/34  M  ADDISON J           [HANNA]            HANNA
99     GALETICH JR  15/10/32  M    ADDISON    [GALETICH, JR]         GALETICH
100   FUNARO JONES  06/12/37  F    HARRIET   [FUNARO, JONES]           FUNARO

    fn_original
0       WILLIAM
1       WILLIAM
2       WILLIAM
3       WILLIAM
5       WILLIAM
8       WILLIAM
11         BILL
14      WILLIAM
16      WILLIAM
18      WILLIAM
19       THOMAS
20          ROY
21          RON
22          ROY
23          ROY
27          ROY
28          ROY
30          ROY
31       ROBERT
32          BOB
33         OWEN
34         OWAN
35     LAWRENCE
38     LAWRENCE
40      KENNETH
42         JOHN
43         JOHN
44         JOHN
45       RONALD
46       DONALD
47         JOHN
50         JOHN
53         JOHN
55         JOHN
58        JAMES
60         JACK
61         JACK
62       HAROLD
64       HAROLD
65       HAROLD
66       HAROLD
75       HAROLD
79       HAROLD
81       HAROLD
84       HAROLD
86       GEORGE
87         DARH
88         DARL
89         DARL
90     CLIFFORD
93     CLARENCE
94      ADDISON
99      ADDISON
100     HARRIET   (54, 7)

In [9]:
df2[["dob","gn","fn","fn_original","ln","surname_original"]].to_csv("filtered_name.csv",index = False)
print(pd.read_csv("filtered_name.csv").shape)
print(pd.read_csv("filtered_name.csv"))

(54, 6)
         dob gn         fn fn_original             ln surname_original
0   01/03/68  F    WILLIAM     WILLIAM       SMITH JR            SMITH
1   01/03/68  F    WILLIAM     WILLIAM   ROTHMEYER JR        ROTHMEYER
2   01/03/68  F    WILLIAM     WILLIAM        ASBY JR             ASBY
3   01/03/68  F    WILLIAM     WILLIAM      SALTER JR           SALTER
4   21/02/62  F    WILLIAM     WILLIAM       BLAND JR            BLAND
5   21/02/62  F    WILLIAM     WILLIAM     SHAFFER JR          SHAFFER
6   21/02/62  F       BILL        BILL       BLAND JR            BLAND
7   08/06/54  F    WILLIAM     WILLIAM       BLAND JR            BLAND
8   25/10/53  F    WILLIAM     WILLIAM       BLAND JR            BLAND
9   25/10/53  F    WILLIAM     WILLIAM     SHAFFER JR          SHAFFER
10  25/10/53  F     THOMAS      THOMAS      DUNCAN JR           DUNCAN
11  25/10/53  F        ROY         ROY     CARLSON JR          CARLSON
12  25/10/53  F        RON         RON     CARLSON JR          CARLSON
13  25/10/53  F        ROY         ROY      DUNCAN JR           DUNCAN
14  25/10/53  M        ROY         ROY     MICHAELSON       MICHAELSON
15  01/05/51  M        ROY         ROY  MICHAELSON JR       MICHAELSON
16  17/06/48  M        ROY         ROY  MICHAELSON JR       MICHAELSON
17  09/04/47  M        ROY         ROY  MICHAELSON JR       MICHAELSON
18  09/04/47  M     ROBERT      ROBERT  MICHAELSON JR       MICHAELSON
19  09/04/47  M        BOB         BOB  MICHAELSON JR       MICHAELSON
20  11/03/47  M       OWEN        OWEN    MUSTAPHA JR         MUSTAPHA
21  11/03/47  M       OWAN        OWAN    MUSTAPHA JR         MUSTAPHA
22  31/01/46  M   LAWRENCE    LAWRENCE    HOUGHTON JR         HOUGHTON
23  31/01/46  M   LAWRENCE    LAWRENCE        LIND JR             LIND
24  31/01/46  M    KENNETH     KENNETH        LIND JR             LIND
25  20/01/46  M       JOHN        JOHN        LIND JR             LIND
26  20/01/46  M       JOHN        JOHN        CAIN JR             CAIN
27  09/06/45  M       JOHN        JOHN          CLARK            CLARK
28  09/02/45  M     RONALD      RONALD          CLARK            CLARK
29  09/02/45  M     DONALD      DONALD          CLARK            CLARK
30  16/12/44  M       JOHN        JOHN          CLARK            CLARK
31  16/12/44  M       JOHN        JOHN  MICHAELSON JR       MICHAELSON
32  24/04/40  M       JOHN        JOHN  MICHAELSON JR       MICHAELSON
33  24/06/39  M       JOHN        JOHN  MICHAELSON JR       MICHAELSON
34  24/06/39  M      JAMES       JAMES  MICHAELSON JR       MICHAELSON
35  24/06/39  M       JACK        JACK  MICHAELSON JR       MICHAELSON
36  09/06/39  M       JACK        JACK  MICHAELSON JR       MICHAELSON
37  09/06/39  M     HAROLD      HAROLD      LARSON JR           LARSON
38  07/10/37  M     HAROLD      HAROLD    MUSTAPHA JR         MUSTAPHA
39  07/10/37  M     HAROLD      HAROLD    HOUGHTON JR         HOUGHTON
40  07/10/37  M     HAROLD      HAROLD      MELVIN JR           MELVIN
41  07/10/37  M     HAROLD      HAROLD      CHAVAS JR           CHAVAS
42  07/10/37  M     HAROLD      HAROLD  MICHAELSON JR       MICHAELSON
43  07/10/37  M     HAROLD      HAROLD       SMITH JR            SMITH
44  07/10/37  M     HAROLD      HAROLD       FAGEN JR            FAGEN
45  07/10/37  M     GEORGE      GEORGE       FAGEN JR            FAGEN
46  07/10/37  M       DARH        DARH     GRIFFIN JR          GRIFFIN
47  10/07/37  M       DARL        DARL     GRIFFIN JR          GRIFFIN
48  07/05/37  M       DARL        DARL     GRIFFIN JR          GRIFFIN
49  07/05/37  M   CLIFFORD    CLIFFORD     GRIFFIN JR          GRIFFIN
50  07/05/37  M   CLARENCE    CLARENCE     GRIFFIN JR          GRIFFIN
51  24/11/34  M  ADDISON J     ADDISON          HANNA            HANNA
52  15/10/32  M    ADDISON     ADDISON    GALETICH JR         GALETICH
53  06/12/37  F    HARRIET     HARRIET   FUNARO JONES           FUNARO